.counterWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 400px;
    margin: 25px 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px solid grey;
    border-radius: 10px;
    gap: 10px;

}

.buttonWrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.resetButton {
    margin: 10px 25px;
    width: 400px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
    font-size: 20px;
}